<% provide(:title, 'Members') %>
<h1 style="color: black; background-color: white;">Members</h1>

<div class="row">
	<div class="container">
	
	<div class="show_member_div col-md-4">

	    <% if @users.any? %>
	    <%= will_paginate %>
	      	<ul class="users" style="word-spacing: 10px; list-style-type: none;">
			  <% @users.each do |user| %>
			    <li class="member_m">
			    	<% if user.ava? %>
			    	<div class="member_form">
			    		<div class="member_pic">
			    			<%= link_to image_tag(user.ava.url, id: 'ava_img2'), user  %>
			    			
			    		</div>
			    		<div class="member_name">
			    			<%= link_to user do %>
				      			<span id="member_name">
				      				<%= user.name %>
				      			</span>
				      		<% end %>
			    		</div>
			    		<div class="member_follow">
			    				<span>

			    					<strong id="followers">
								      followers: <%= user.followers.count %>
								    </strong>
			    				</span>
				    		</div>
			    		<div class="member_delete">
		    				<% if current_user.admin? && current_user != @user %>
						    <%= link_to "delete", user, method: :delete,
						                                  data: { confirm: "You sure?" } %>
						  <% end %>
			    		</div>

			    	</div>
			    		
			      		
			      	<% else %>
			      		<div class="member_form">
				    		<div class="member_pic">
				    			<%= link_to image_tag('heroku.png', id: 'ava_img2'), user  %>
				    		</div>
				    		<div class="member_name">
			    				<%= link_to user do %>
					      			<span id="member_name">
					      				<%= user.name %>
					      			</span>
					      		<% end %>
				    		</div>
				    		<div class="member_follow">
			    				<span>

			    					<strong id="followers">
								      followers: <%= user.followers.count %>
								    </strong>
			    				</span>
				    		</div>
				    		<div class="member_delete">
		    				<% if current_user.admin? && current_user != @user %>
						    <%= link_to "delete", user, method: :delete,
						                                  data: { confirm: "You sure?" } %>
						  <% end %>
			    		</div>
				    	</div>
			      		
			      		
			    	<% end %>
			      
			    </li>

			  <% end %>
			</ul>



	      
	      <<!-- div class="pagi">
	      	<%= will_paginate %>
	      </div> -->
	    <% else %>
	    	<p style="text-align: center; color: red;"> Woahhhh!!</p>
	    <% end %>
	    <%= will_paginate %>
	</div>

	<div class="show_top10_div container col-md-offset-8 ">
		<p style="text-align: center; font-size: xx-large; color: green; border-bottom: 2px dashed blue; margin-bottom: 20px;"> Top 5 users:</p>

		<% if @users.any? %>
	      	<ol class="users" style="word-spacing: 10px; list-style-type: none;">
			  <% @users_top.abc.limit(5).each do |user| %>
			    <li class="member_m">
			    	<% if user.ava? %>
			    	<div class="member_form">
			    		<div class="member_pic">
			    			<%= link_to image_tag(user.ava.url, id: 'ava_img2'), user  %>
			    			
			    		</div>
			    		<div class="member_name">
			    			<%= link_to user do %>
				      			<span id="member_name">
				      				<%= user.name %>
				      			</span>
				      		<% end %>
			    		</div>
			    		<div class="member_follow">
			    				<span>

			    					<strong id="followers">
								      followers: <%= user.followers.count %>
								    </strong>
			    				</span>
				    		</div>
			    	</div>
			    		
			      		
			      	<% else %>
			      		<div class="member_form">
				    		<div class="member_pic">
				    			<%= link_to image_tag('heroku.png', id: 'ava_img2'), user  %>
				    		</div>
				    		<div class="member_name">
			    				<%= link_to user do %>
					      			<span id="member_name">
					      				<%= user.name %>
					      			</span>
					      		<% end %>
				    		</div>
				    		<div class="member_follow">
			    				<span>

			    					<strong id="followers">
								      followers: <%= user.followers.count %>
								    </strong>
			    				</span>
				    		</div>
				    	</div>
			      		
			      		
			    	<% end %>
			      
			    </li>

			  <% end %>
			</ol>



	      
	      <<!-- div class="pagi">
	      	<%= will_paginate %>
	      </div> -->
	    <% else %>
	    	<p style="text-align: center; color: red;"> Woahhhh!!</p>
	    <% end %>

	</div>

</div>
</div>


