<% provide(:title, 'My Blog') %>

	

<div class="show_info_div">
	<% if @user.ava? %>
		<%= link_to image_tag(@user.ava.url, id: 'ava_img'), @user %>

		<% else %>
		<%= link_to image_tag('heroku.png', id: 'ava_img'), @user %>
	<% end %>

	<br/>

	<p id="show_name"><%= @user.name %></p>
	<p id="show_num">Pic num: <%= @user.microposts.count %></p>
	<p id="show_follower">
		<% @user ||= current_user %>
		<a href="<%= followers_user_path(@user) %>">
	    <strong id="followers">
	      <%= @user.followers.count %>
	    </strong>
	    followers
	  </a>
	</p>
	<p id="show_following">
		<a href="<%= following_user_path(@user) %>">
		    <strong id="following" class="stat">
		      <%= @user.following.count %>
		    </strong>
		    following
		  </a>
	</p>

</div>
<% if current_user == @user %>
     <div class="show_footer_div">
		<p style="color: red">Upload new picture!</p>
		<%= form_for(@micropost) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  <%= hidden_field_tag 'micropost[picurl]' %>
		  <%= f.file_field :picurl, class: 'form-control', id: 'ava_size', accept: 'image/jpeg,image/gif,image/png,image/jpg', require: true %>

		  <%= f.submit "Post", class: "btn btn-primary" %>
		<% end %>

	</div>
	<% else %>
		<div class="show_footer_div">
		
			<%= render 'follow_form' %>
		</div>
    <% end %>

<div class="row">
	<div class="show_content_div container">
	    <% if @user.microposts.any? %>
	      <div class="picpic">
	      	<ul style="list-style-type: none">
	      	
	        	<%= render @microposts %>        	
	    	
	      	</ul>

	      </div>

	      
	      <div class="pagi">
	      	<%= will_paginate @microposts %>
	      </div>
	    <% else %>
	    	<p style="text-align: center; color: red;"> Enjoy, post some your favourite picture!!!</p>
	    <% end %>

	</div>

</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>