
<div class="post_div">
<li id="micropost-<%= micropost.id %>">
	<span></span>
	<span>
		<% if  micropost.picurl?%>
			<div id="links">
				<a href="<%= micropost.picurl.url %>" data-gallery>
        <%= image_tag micropost.picurl.url, class: 'post_pic' %>
    </a>
						
			</div>
		<% end %>
		
		
	</span>
<div class="post_hide">
	<span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user == micropost.user %>
     <span style="float: right;">
     	<%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
     </span> 
    <% end %>	
</div>
  

</li>
</div>


