<header class="nav navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Photo Blog", root_path , id: "logo"  %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to do %>
						<span class="glyphicon glyphicon-user"></span>
					<% end %>
				</li>

				<li><span style="font-size: xx-large; color: red; pointer-events: none;">|</span></li>

				<li>
					<%= link_to about_path  do %>
						<span class="glyphicon glyphicon-info-sign"></span>
					<% end %>
				</li>

				<li><span style="font-size: xx-large; color: red; pointer-events: none;">|</span></li>

				<li>
					<%= link_to  do %>
						<span id="drop_trigger" class="glyphicon glyphicon-edit">
							<div id="drop_show"> 
								<div>
									<%= link_to "Profile", root_path, class: "drop_text" %>
								</div>

								<div>
									<%= link_to "Edit", root_path, class: "drop_text" %>
								</div>

								<div>
									<%= link_to "Log out", root_path, class: "drop_text" %>
								</div>

								
							</div>
						</span>
					<% end %>
													
			</ul>
			<form class="navbar-form navbar-nav" id="search_form" action="/">
				<div class="form-group">
			        <input type="text" id="search_text" class="form-control" placeholder="Search">
			    </div>
			    <button type="submit" id="search_button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			</form>
		</nav>
	</div>	

</header>