<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title)%></title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
        <div class="back_pic container">
          <div class="container">

            <%= render 'layouts/header' %>
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
    </div>
  	
  	
  	
    
  </body>
</html>
